
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/myStyleSheet.css" rel="stylesheet" />

    <title>Display</title>
</head>
<body>
    <div class="subList">
        <ul>
            <li><a href="@Url.Action("AddOne", "Dictionary")">Add one time to Dictionary</a> </li>
            <li><a href="@Url.Action("AddHuge", "Dictionary")">Add Huge List of Items to Dictionary</a></li>
            <li><a href="@Url.Action("Display", "Dictionary")"> Display Dictionary </a></li>
            <li><a href="@Url.Action("Delete", "Dictionary")">Delete from Dictionary</a></li>
            <li><a href="@Url.Action("Clear", "Dictionary")">Clear Dictionary</a></li>
            <li><a href="@Url.Action("Search", "Dictionary")">Search Dictionary</a></li>
            <li><a href="#">Return to Main Menu</a></li>
        </ul>
    </div>
    <div>
        @if (ViewBag.MyDictionary.Count > 0)
        {
            foreach (var sData in ViewBag.MyDictionary)
            {
                <p>@sData</p>
            }
        }
        else
        {
                <p> There are no items in the Dictionary to display</p>
        }
    </div>
</body>
</html>
