
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/myStyleSheet.css" rel="stylesheet" />

</head>
<body>
    <div>
        <ul>
            <li><a href="@Url.Action("AddOne", "Queue")">Add one time to Queue</a> </li>
            <li><a href="@Url.Action("AddHuge", "Queue")">Add Huge List of Items to Queue</a></li>
            <li><a href="@Url.Action("Display", "Queue")"> Display Queue </a></li>
            <li><a href="@Url.Action("Delete", "Queue")">Delete from Queue</a></li>
            <li><a href="@Url.Action("Clear", "Queue")">Clear Queue</a></li>
            <li><a href="@Url.Action("Search", "Queue")">Search Queue</a></li>
            <li><a href="@Url.Action("Index", "Home")">Return to Main Menu</a></li>
        </ul>
    </div>
    @Html.Raw((String)ViewBag.Delete)
    @Html.Raw((String)ViewBag.Search)
</body>
</html>
